@{
  ViewData["Title"] = "Трудоустройство выпускников";
}
@section styles {
  <link rel="stylesheet" href="~/css/main.css" asp-append-version="true"/>
}

<div id="root">Загрузка...</div>

@section scripts {
  <script src="~/js/main.js" asp-append-version="true"></script>
}
