@{
    // ViewData["Title"] = "Трудоустройство выпускников";
}

<div id="root" asp-prerender-module="client/boot">Загрузка...</div>

@section scripts {
    // <script src="~/js/main.js"  asp-append-version="true"></script>

}
