.Login {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  margin-top: 30px;
}

.Login__banner {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.Login__form {
  display: flex;
  flex-direction: column;
}

.Login__image {
  max-width: 500px;
}
